/* Add all your styles here */
.mycontainer1{
  background-color:#3819;
  width:50%;
  height:220px;
  
}

.mycontainer2{
  background-color:#9429;
  width:50%;
  height:180px;
  margin-top:-18.8px;
  
}

.mycontainer3{
  background-color:#2205;
  width:50%;
  height:400px;
  float:right;
  margin-top:-400px;
  
}